    body {
      background-color: #dddddd;
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
    }

    .container {
      max-width: 800px;
      margin: 50px auto;
      background-color: #ffffff;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    h2 {
      margin-top: 0;
      text-align: center;
      width: 100%;
    }

    .input-group {
      margin-bottom: 15px;
    }

    label {
      display: block;
      margin-bottom: 5px;
    }

    input, select {
      width: 100%;
      padding: 8px;
      box-sizing: border-box;
    }

    .registration-link {
      width: 100%;
      text-align: center;
      margin-top: 20px;
    }

    .block {
      width: 48%;
      margin-bottom: 20px;
    }