<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/style/adminClientOrdersStyle.css">
</head>
<body>

<header>
    <div class="container">
        <h1>Admin Panel</h1>
    </div>
</header>

<div class="container">
    <div th:each="order : ${orders}" th:if="${order} != null" class="order-block">
        <div class="order-details">
            <h2 th:text="'Order ' + ${order.id}"></h2>
            <label>Client ID</label>
            <p th:text="${order.client.id}"></p><br>
            <label>Master ID</label>
            <p th:text="${order.employees} != null ? order.employees.id : 'Master not set'"></p><br>
            <label>Order Information:</label>
            <p th:text="${order.orderInfo}"></p><br>

            <label>Order Price:</label>
            <p th:text="${order.orderPrice != 0 ? order.orderPrice : 'Not indicated'}"></p><br>

            <label>Order State:</label>
            <p th:text="${order.orderState}"></p><br>
            <a th:href="@{'/employee/admin/delete/' + ${order.client.id} + '/' + ${order.id}}" class="show-orders-button">Delete order</a>
        </div>
    </div>
</div>

</body>
</html>