<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/style/adminStyle.css">
</head>
<body>

<header>
    <div class="container">
        <h1>Admin Client Panel</h1>
    </div>
</header>

    <div th:each="client : ${clients}" th:if="${client} != null" class="client-block">
        <div class="client-details">
            <h2 th:text="'Client ID: ' + ${client.id}"></h2>
            <label>Name:</label>
            <p th:text="${client.name}"></p>

            <label>Surname:</label>
            <p th:text="${client.surname}"></p>

            <a th:href="@{'/employee/admin/' + ${client.id}}" class="show-orders-button">Show Orders</a>
        </div>
    </div>
</div>

</body>
</html>