<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jewelry Page</title>
    <link rel="stylesheet" href="/style/indexStyle.css">
</head>
<body>

<header>
    <div class="container">
        <h1>Jewelry</h1>
        <nav>
            <a href="/client/orders">All Orders</a>
        </nav>
    </div>
</header>

<div class="container">
    <div class="new-order">
        <p th:text="${state}"></p>
        <h2>New Order</h2>
        <form action="/client" method="post">
            <label for="orderInfo">Order Information:</label>
            <input type="text" id="orderInfo" name="orderInfo" placeholder="Enter order information" required>
            <button type="submit">Create Order</button>
        </form>
    </div>
</div>

</body>
</html>