<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/style/loginStyle.css">
</head>
<body>

<div class="container">
    <div class="block">
        <h2>Sign In</h2>
        <form action="/login/user" method="post">
            <div class="input-group">
                <label for="login">Login:</label>
                <input type="text" id="login" name="login" placeholder="Enter your login">
            </div>
            <div class="input-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="Enter your password">
            </div>
            <button type="submit">Login</button>
            <p th:text="${errorUser}"></p>
        </form>
    </div>

    <div class="block">
        <h2>Employee Sign In</h2>
        <form action="/login/employee" method="post">
            <div class="input-group">
                <label for="loginEmployee">Login:</label>
                <input type="text" id="loginEmployee" name="login" placeholder="Enter your login">
            </div>
            <div class="input-group">
                <label for="passwordEmployee">Password:</label>
                <input type="password" id="passwordEmployee" name="password" placeholder="Enter your password">
            </div>
            <div class="input-group">
                <label for="position">Position:</label>
                <select id="position" name="position" required>
                    <option value="Master">Master</option>
                    <option value="Administrator">Administrator</option>
                </select>
            </div>
            <div class="input-group">
                <label for="uniqueCode">Unique code:</label>
                <input type="password" id="uniqueCode" name="uniqueCode" pattern="\d*" placeholder="Enter your unique code">
            </div>
            <button type="submit">Login</button>
            <p th:text="${errorEmployee}"></p>
        </form>
    </div>
</div>

<div class="registration-link">
    <p>Don't have an account? <a href="/registration">Registration</a>.</p>
</div>

</body>
</html>

</body>
</html>